<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.docker_base.mapper.SysLogMapper">

    <insert id="save" parameterType="com.hp.docker_base.bean.annotation.MyLog" >
        INSERT INTO `tb_sys_log` (`id`, `username`, `operation`, `method`, `params`, `ip`, `createDate`)
        VALUES (#{id,jdbcType=INTEGER},
        #{username,jdbcType=VARCHAR},
         #{operation,jdbcType=VARCHAR},
         #{method,jdbcType=VARCHAR},
         #{params,jdbcType=VARCHAR},
         #{ip,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP});

    </insert>

  <!--  <select id="selectEnterpriseEvaluateScoreList"
            parameterType="siirisoft.mhqd.evaluate.condition.EvaluateScoreCondition"
            resultType="siirisoft.mhqd.evaluate.entity.EvaluateScore">

        SELECT score.* FROM enterprise_evaluate_score score
        INNER JOIN (

        SELECT
        MAX(`month`) AS maxMonth,
        enterprise_id
        FROM
        enterprise_evaluate_score
        WHERE
        <if test="condition.evaluateMonth != null and condition.evaluateMonth !=''">
            `month` &lt;= #{condition.evaluateMonth}
        </if>

        AND is_delete = 0
        GROUP BY
        enterprise_id
        ) AS dt_B ON score.`enterprise_id` = dt_B.enterprise_id

        WHERE score.month = dt_B.maxMonth
        AND score.enterprise_id in
        <foreach collection="condition.enterpriseIdList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND score.is_delete = 0
    </select>-->




</mapper>