<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.docker_base.mapper.SysLogMapper">

    <insert id="save" parameterType="com.hp.docker_base.bean.annotation.SysLog" >
        INSERT INTO `tb_sys_log` (`id`, `username`, `operation`, `method`, `params`, `ip`, `createDate`)
        VALUES (#{id,jdbcType=INTEGER},
        #{username,jdbcType=VARCHAR},
         #{operation,jdbcType=VARCHAR},
         #{method,jdbcType=VARCHAR},
         #{params,jdbcType=VARCHAR},
         #{ip,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP});

    </insert>

  <select id="findSysLogList" resultType="com.hp.docker_base.bean.annotation.SysLog">

      SELECT *
      FROM tb_sys_log
     <where>
          <if test="condition.startDate != null and condition.startDate !=''">
              `createDate` &gt;= #{condition.startDate,jdbcType=VARCHAR}
          </if>
          <if test="condition.endDate != null and condition.endDate !=''">
              AND  `createDate` &lt;= #{condition.endDate,jdbcType=VARCHAR}
          </if>
          <if test="condition.keywords != null and condition.keywords !=''">
              AND (`username` like CONCAT('%',#{condition.keywords},'%')
              or `operation` like CONCAT('%',#{condition.keywords},'%')
              or `ip` like CONCAT('%',#{condition.keywords},'%'))
          </if>

      </where>
    </select>




</mapper>